# Ignore node_modules
node_modules/

# Ignore dist folder
dist/

# Ignore package-lock.json
package-lock.json

# Ignore .env files (if you have any environment variable files)
.env

# Ignore temporary files and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore MacOS system files (optional)
.DS_Store

# Ignore temporary files from the OS
Thumbs.db

# Ignore compiled binary files
*.exe
*.out
*.app
